@import '../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap';


* {
    box-sizing: border-box;
    // border: 1px dashed grey;
}

.headerpic {
    background-image: url(../images/topwaves.jpeg);
    height: 400px;
    background-size: cover;
}
.paddletext {
    color: white;
    font-size: 72px;
}

.shadow {
    text-shadow: 2px 2px 2px #083654;
}

.about {
    color: #083654;
    padding-left: 100px;
}

.search {
    color: #083654;
    padding-left: 10px;
}

.hourglass {
    color: #083654;
    padding-right: 100px;
}

.tiya {
    color: #083654;
}

.afan {
    color: #083452;
}

.paracolor {
    color: #888F94;
}

.glyphicon {
    top: 0px;
}

.btn-glyph {
    background-color: #5E686F;
    color: white;
}

.btn-glyph:hover {
    background-color: #083452;
    color: white;
}

.btn-text {
    background-color: #A3B3BF;
    color: white;
}

.btn-text:hover {
    background-color: #106DB3;
    color: white;
}

.annemarie {
    color: #448AC1;
    font-size: 12px;
}

.marieanne {
    color: #8DB6D8;
    font-size: 10px;
    padding-right: 10px;
}

.monday {
    color: #A4B4C0;
    font-size: 10px;
}

.tfi {
    font-size: 10px;
    color: #BAC6CF;
    padding-left: 5px;
}

.sidebartext {
    color: #BAC6CF;
    font-size: 10px;
}

.btn {
    border-radius: 0px;
}

.rightpicbackground {
    background-color: #083452;
}

.rightpic {
    background-image: url(../images/addpic.jpeg);
    height: 200px;
    opacity: 1;
    background-size: cover;
    &:hover {
        opacity: .5;
    }
}

.addlink {
    font-size: 8px;
    color: #ABB9C4;
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.mostpop {
    color: #083452;
    font-size: 36px;
    text-align: center;
}

.borderline {
    border-top: 1px solid gray;
}

.whoaline {
    border-left: 1px solid gray;
    padding-right: 20px;
    height: 100px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 2px solid #DBDBDB;
}

.whoatext {
    color: #0969B1;
}

.footer {
    background-color: #233746;
    color: #90A3B2;
}

.footword {
    color: #90A3B2;
}

.irony {
    font-size: 12px;
}

.navline {
    padding-left: 5px;
    font-size: 12px;
}

.rightline {
    border-right: 1px solid #90A3B2;
}

.fourpics {
    img {
        width: 100%;
    }
    display: flex;
    height: 200px;
}

.fourpic1 {
    background-image: url(../images/testimage.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
        font-size: 2vw;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic2 {
    background-image: url(../images/test2.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
        font-size: 2vw;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic3 {
    background-image: url(../images/test3.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 140px;
        padding-left: 10PX;
        color: white;
        font-size: 2vw;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic4 {
    background-image: url(../images/test4.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
        font-size: 2vw;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.footpad {
    padding-top: 5px;
}
