// @import '../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap';


* {
    box-sizing: border-box;
    // border: 1px dashed grey;
}

.headerpic {
    background-image: url(../images/topwaves.jpeg);
    height: 400px;
    background-size: cover;
}
.paddletext {
    color: white;
    font-size: 72px;
}

.annemarie {
    color: #448AC1;
    font-size: 12px;
}

.tfi {
    font-size: 10px;
    color: #BAC6CF;
    padding-left: 5px;
}

.rightpicbackground {
    background-color: blue;
}

.rightpic {
    background-image: url(../images/addpic.jpeg);
    height: 200px;
    opacity: 1;
    background-size: cover;
    &:hover {
        opacity: .5;
    }
}

// a:hover {
//     background-color: blue;
//     opacity: .5;
// }

.addlink {
    font-size: 8px;
    color: #ABB9C4;
}

.mostpop {
    color: #083452;
    font-size: 36px;
    text-align: center;
}

// .fourpics {
//     img {
//         width: 100%;
//     }
//     display: flex;
// }

.borderline {
    border-top: 1px solid gray;
}

.whoaline {
    border-left: 1px solid gray
}

.footer {
    background-color: #233746;
    color: #90A3B2;
}

.navline {
    padding-left: 5px;
    // border-right: 1px solid #90A3B2;
    font-size: 12px;
}

.rightline {
    border-right: 1px solid #90A3B2;
}

.fourpics {
    img {
        width: 100%;
    }
    display: flex;
    height: 200px;
    // h2 {
    //     padding-top: 140px;
    // }
}

.fourpic1 {
    background-image: url(../images/testimage.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic2 {
    background-image: url(../images/test2.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic3 {
    background-image: url(../images/test3.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 140px;
        padding-left: 10PX;
        color: white;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.fourpic4 {
    background-image: url(../images/test4.jpeg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        padding-top: 160px;
        padding-left: 10PX;
        color: white;
    }
    opacity: 1;
    &:hover {
        opacity: .5;
    }
}

.footpad {
    padding-top: 5px;
}
