@import '../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap';


* {
    box-sizing: border-box;
    // border: 1px dashed grey;
}

.headerpic {
    background-image: url(../images/topwaves.jpeg);
    height: 400px;
    background-size: cover;
}
.paddletext {
    color: white;
    font-size: 72px;
}

.mostpop {
    color: #083452;
    font-size: 36px;
    text-align: center;
}

.fourpics {
    img {
        width: 100%;
    }
    display: flex;
}

.fourpics1 {
    flex: 1;
}

.fourpics2 {
    flex: 1;
}

.fourpics3 {
    flex: 1;
}

.fourpics4 {
    flex: 1;
}

.borderline {
    border-top: 1px solid gray;
}
